body {
  background-color: #EDE2BD;
  overflow: hidden;
}
@font-face {
  font-family: "Emoji";
  src: url('./fonts/emoji.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}
.emoji {
  font-family: "Emoji";
  line-height: 1;
  font-size: 2.6em;
  padding-top: .1em;
  color: #666;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}
nav {
  margin-bottom:0 !important;
}
.wedding-splash {
  width: 100%;
  height: 600px;
  position: relative;
  background-image: -webkit-linear-gradient(-70deg,#D43B08 13%,#D11919 100%);
  background-image: linear-gradient(-70deg,#D43B08 13%,#D11919 100%);
  background-size: cover;
  border-bottom: 5px solid #666;
}
.wedding-color1 {
  background-color: #16A6C9;
}
.wedding-color2 {
  background-color: #E33030;
}
.wedding-color3 {
  background-color: #D43B08;
}
.wedding-color4 {
  background-color: #D11919;
}
.wedding-us {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 5px solid #666;
  background-image: url('./images/us.jpg');
  background-size: 150px;
  position: relative;
  top: 78px;
  margin: auto;
}
.wedding-title-clock {
  font-family: 'Droid Sans Mono';
}
.wedding-title {
  font-family: 'Satisfy', cursive;
  font-size: 3em;
  text-align: center;
  margin-top: .5em;
  padding: 0 .2em;
}
.wedding-column {
  padding: 1em;
  font-size: 1.3em;
  font-family: 'Ramabhadra';
}
.wedding-column img {
  width: 100%;
  float: right;
  margin: 0 .5em;
  border-radius: 1em;
}
#wedding-sun {
  width: 15%;
  position: absolute;
  left: 0;
  top: 0;
}
#wedding-sunpath {
  opacity:0;
}
.wedding-mountains {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
}
