body {
  background-color: #EDE2BD;
  overflow-x: hidden;
}
@font-face {
  font-family: "Emoji";
  src: url('./fonts/emoji.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}
.emoji {
  font-family: "Emoji";
  line-height: 1;
  font-size: 2.6em;
  padding-top: .1em;
  color: #666;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}
nav {
  margin-bottom:0 !important;
}
.wedding-splash {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: -webkit-linear-gradient(-70deg,#D43B08 13%,#D11919 100%);
  background-image: linear-gradient(-70deg,#D43B08 13%,#D11919 100%);
  background-size: cover;
  border-bottom: 5px solid #666;
}
.wedding-color1 {
  background-color: #D43B08;
}
.wedding-color2 {
  background-color: #D11919;
}
.wedding-color3 {
  background-color: #E33A3A;
}
.wedding-color4 {
  background-color: #17B9E4;
}
.wedding-color {
  height: 30px;
}
.wedding-us {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 5px solid #666;
  background-image: url('./images/us.jpg');
  background-size: 150px;
  position: relative;
  top: 78px;
  margin: auto;
}
.wedding-title-clock {
  font-family: 'Droid Sans Mono';
}
.wedding-title {
  font-family: 'Satisfy', cursive;
  font-size: 3.5em;
  text-align: center;
  padding: 1em 0;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}
#wedding-sun {
  width: 15%;
  position: absolute;
  left: 0;
  top: 0;
}
#wedding-sunpath {
  opacity:0;
}
.wedding-mountains {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
}
.wedding-countdown {
  position: absolute;
  bottom: .5em;
  font-family: 'Satisfy', cursive;
  font-size: 3.5em;
  text-align: center;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  color: #CCC;
}
.wedding-section {
  font-family: 'Satisfy', cursive;
  font-size: 3.5em;
  text-align: center;
  padding-top: .3em;
}
.wedding-text {
  padding: 1.3em;
  font-size: 1.5em;
  font-family: 'PT Serif Caption', serif;
}
.wedding-text a {
  font-weight: bold;
  color: #444;
}
.wedding-column img {
  width: 100%;
  margin: 0 .5em;
  margin: 1.3em 0;
  border-radius: 1em;
}
.wedding-column iframe {
  width: 100%;
  margin: 0 .5em;
  margin: 1.3em 0;
  height: 400px;
}
.wedding-map-title {
  font-size: 1.3em;
  font-family: "PT Serif Caption",serif;
  text-align: center;
  margin-bottom: 1em;
}
.wedding-flights {
  text-align: center;
}
.wedding-flights img {
  height: 75px;
  margin-top: .5em;
  margin-bottom: 1em;

}
